.form-control, 
textarea {
  max-width: calc(100%);
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 5px;
  height: 50px;
  width: 100px;
  overflow: hidden;
}

.table td, .table th {
  padding: .50rem;
  vertical-align: top;
  font-size: .80rem;
  border-top: 1px solid #dee2e6;
}
